<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DroidGauntlet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidGauntlet">

        <activity
            android:name=".HubActivity"
            android:exported="true"
            android:label="DroidGauntlet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InboxActivity"  android:label="Inbox Challenge" />
        <activity android:name=".FormActivity"   android:label="Form Challenge" />
        <activity android:name=".StoreActivity"  android:label="Store Challenge" />
        <activity android:name=".SettingsActivity" android:label="Settings Challenge" />

    </application>
</manifest>
